* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: cormorant;
  src: url('./Fonts/Cormorant_Upright/CormorantUpright-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: zenkaku;
  src: url('./Fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: zenkakulight;
  src: url('./Fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf');
  font-display: swap;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    text-decoration: none !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-display: swap;
    image-rendering: optimizeSpeed;
    shape-rendering: geometricPrecision;  
}

/*------------------------------------ Containers and Backgrounds ----------------------------------*/

.landingcontainer{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#backgroundimage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Room_Images/Lounge/169.webp");
  background-size: cover;
  background-position: center bottom;
  transition: all 0.4s ease-in-out;
}


/*------------------------------------ Navigation Bar ----------------------------------*/

nav{
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 5%;
}

.navcontainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    height: 6vh;
    width: 40vw;
    border-top-left-radius: 4% 50%;
    border-top-right-radius: 4% 50%;
    border-bottom-left-radius: 4% 50%;
    border-bottom-right-radius: 4% 50%;
}

.navelement{
    position: relative;
    display: inherit;
    
    margin: 1vh 2.6vh;
}

.navelement .encircle{
    position: absolute;
    display: block;
    border: 0;
    outline: none;
    content: "";
    height: 4vh;
    width: 4vh;
    background-color: rgba(175, 175, 175, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    transition: background-color 0.02s ease-in-out, transform 0.02s ease-in-out;
}
.navcontainer a{
    text-align: center;
    text-decoration: none;
}

.navelement:hover .encircle{
  transition: background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
  background-color: rgba(0,0,0,0);
  backdrop-filter: none;
  transform: scale(1.3);
}


.navelement .homepagebutton .icon1{
    position: absolute;
    margin: auto;
    filter: invert(95%);
    height: 2.8vh;
    transform: translateX(0.6vh) translateY(0.45vh);
}

.navelement .contactbutton .icon2{
    position: absolute;
    margin: auto;
    filter: invert(95%);
    height: 2.6vh;
    transform: translateX(0.7vh) translateY(0.7vh);
}



.navelement:nth-child(4){
  position: absolute;
  display: inherit;
  
  margin-left: 34.5vw;

}

.navelement:nth-child(5){
  position: absolute;
  display: inherit;
  
  margin-left: 37vw;

}

.navelement .cartbutton .icon5{
  position: absolute;
  margin: auto;
  right: 0%;
  filter: invert(95%);
  height: 2.5vh;
  transform: translateX(-0.6vh) translateY(0.85vh);
}
.navelement .loginbutton .icon6{
  position: absolute;
  margin: auto;
  right: 0%;
  height: 3vh;
  transform: translateX(-0.5vh) translateY(0.5vh);
}

.shopbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  margin-left: 1.5vw;
}

.shopbutton h3{
  
  font-family: zenkakulight;
  font-weight: 400;
  font-size: 2vh;
  color: white;
  transform: translateY(-0.27vh);
}

.navelement .cartbutton .cartquantity{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 80%;
  color: rgb(230,230,230);
  font-family: zenkakulight;
  font-weight: 400;
  z-index: 4;
  transform: translateX(0%) translateY(-30%);
  display: none;
}

/*---------------------------------------- Hamburger for Mobile View -----------------------------------------*/

.hamburgercontainer{
  display: none;
}

.hamburger{
  position: fixed;
  display: block;
  
  z-index: 2;
  width: 10vw;
  height: fit-content;
  top: 3vh;
  right: 6vw;
}
.hamburger img{
  filter: invert(100%);
  width: inherit;
  aspect-ratio: 1;
}
.mobilemenu{
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.menus{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  text-decoration: none;
}


.menus a {
  padding: 1vw;
  text-decoration: none;
  color: #9b9b9b;
  display: block; /* Display block instead of inline */
  font-family: zenkaku;
  font-size: 4vh;
  transition: 0.3s; /* Transition effects on hover (color) */
}
.menus a:nth-child(1){
  margin-top: 35%;
}

.mobilemenu #closehamburgericon{
  position: fixed;
  filter: invert(50%);
  top: 3vh;
  right: 6vw;
  width: 10vw;
  aspect-ratio: 1;
  display: none;
}


/* -------------------------------------- Nav Search Bar ------------------------------------------------*/

.search-container {
    position: relative;
    display: block;
    display: flex; /* Arranges elements horizontally */
    align-items: center; /* Vertically aligns elements */
    margin: 1.1vh 1vw;
  }
  
  #search-input {
    position: absolute;
    height: 4vh;
    width: 15vw;
    transform: translateY(0.5vh);
    background-color: rgba(0,0,0,0.45);
    border: none;
    border-top-left-radius: 6% 50%;
    border-top-right-radius: 6% 50%;
    border-bottom-left-radius: 6% 50%;
    border-bottom-right-radius: 6% 50%;
    flex: 1; /* Flex element to fill available space */
    text-indent: 2.5vw; /*margin-left for placeholder and input text */
    outline: none; /*Remove the border after clicking the search bar*/
    color: rgb(220,220,220, 0.75);
  }

  #search-input::placeholder{
    color: rgb(220,220,220, 0.75);
    
    font-size: 1.8vh;
  }

  .searchelement .search-container .icon4{
    
    filter: invert(100%);
    height: 2.6vh;
    transform: translateX(0.8vw) translateY(0.6vh);
  }
  
/* ----------------------------- Search Bar End --------------------------------*/



/* ------------------------------ Product Highlight Elements -------------------------------*/


.ripple-effect {
    position: absolute;
    display: flex;
    height: 4vh;
    width: 4vh;
    z-index: 2;
  }
  .ripple-effect div {
    animation: ripple 3s infinite ease-out;
    background-color: white;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  .ripple-effect .circle1 {
    animation-delay: 0s;
  }
  .ripple-effect .circle2 {
    animation-delay: 1s;
  }
  .ripple-effect .circle3 {
    animation-delay: 2s;
  }
  
  @keyframes ripple {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    50% {
        opacity: 0.8;
        transform: scale(0.35);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

/* ------------------------------ Product page on hovering a ripple -------------------------------*/

  .productlabel{
    position: relative;
    
    
  }
  .productpagecontainer{
    position: fixed;
    top: 50%;
    left: 50%;
   
    display: inline-block;
    text-align: center;
  }

  
  
  #productimage{
    position: relative;
    z-index: 2;
    display: none;
    height: 65vh;
    width: auto;
    max-width: 55vw;
  }
  

  #close{
    
    position: absolute;
    width: 2.7vw;
    height: auto;

    top: 6%;
    right: 8%;
    display: none;
    z-index: 4;
    cursor: pointer;
  }

  .textboxcontainer{
    position: absolute;
    background-color: black;
    user-select: text;
    pointer-events: auto;
    top: 0.5%;
    left: 0;
    width: 35vw;
    height: 0px;
    display: none;
    z-index: 4;
   
  }
  

  
  #ripple1{ 
    /*Kansas*/
    left: 51.3vw;
    top: 56vh;
  }

  #ripple2{
    /*Fuente*/
    left: 55vw;
    top: 69vh;
  }
  #ripple3{
    /*Service Page*/
    left: 67vw;
    top: 95vh;
  }

  #ripple3 div{
    background-color: rgb(26, 67, 199);
  }  
  #ripple4{
    /*Laguna*/
    left: 63vw;
    top: 38vh;
  }
  #ripple5{
    /*Shirley*/
    left: 72vw;
    top: 38vh;
  }
  #ripple6{
    /*Buds*/
    left: 57vw;
    top: 72.7vh;
  }

  #ripple7{
    /*Bottle*/
    left: 65.2vw;
    top: 69.7vh;
  }
  #ripple8{
    /*Mug*/
    left: 68.2vw;
    top: 71.7vh;
  }
  #ripple9{
    /*Blanket*/
    left: 82.2vw;
    top: 66.7vh;
  }
  #ripple10{
    /*Suitcase*/
    left: 33vw;
    top: 71.5vh;
  }
  #ripple11{
    /*Beach Towel*/
    left: 26vw;
    top: 59.2vh;
  }
  #ripple12{
    /*Yoga Mat*/
    left: 33vw;
    top: 94.2vh;
  }
  #ripple13{
    /*T-Shirt*/
    left: 1.8vw;
    top: 20.2vh;
  }
  #ripple14{
    /*About Us Page*/
    left: 18vw;
    top: 56.2vh;
  }
  #ripple14 div{
    background-color: rgb(26, 67, 199);
  }  


/* ---------------- Textbox Styling of Product details -----------------*/
 .productname{
  position: absolute;
  top: 4%;
  left: 8%;
  font-family: zenkakulight; 
  color: rgb(200,200,200);
  font-weight: 400;
  font-size: 5vh;
  letter-spacing: 0;
 }
 .productprice{
  position: absolute;
  top: 20%;
  left: 8.5%;
  font-family: zenkaku; 
  color: rgb(200,200,200);
  font-weight: 600;
  font-size: 3vh;
  letter-spacing: 0.05em;
 }
 .productdetails{
  position: absolute;
  top: 35%;
  left: 8.5%;
  font-family: zenkaku; 
  color: rgb(200, 200, 200);
  font-weight: 400;
  font-size: 2vh;
  letter-spacing: 0.05em;
  text-align: left;
  cursor:text;
  user-select: text;
 }

 .productdetails span{
  color: rgb(31, 76, 226);
  cursor: pointer;
  user-select: none;
 }
  
 .shippingcontainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 55%;
  left: 8.5%;
 
  width: 90%;
  height: 2.2vh;
  cursor: pointer;
 }


 .shippingcontainer h3{
  text-align: left;
  width: 100%;
  cursor: pointer;
  user-select: text;
  font-family: zenkakulight; 
  color: rgb(200, 200, 200);
  font-weight: 400;
  font-size: 2vh;
  letter-spacing: 0.05em;
 }
 
 .shippingcontainer img{
  text-align: right;
  filter: invert(90%);
  position: relative;
  top: 55%;
  right: 8%;
  font-size: 1.8vh;
 }
 #expand2{
  top: 60%
 }

 #expand3{
  top: 65%
 }


 .productquantitycontainer{
  position: absolute;
  top: 80%;
  left: 8.5%;
  display: flex;
  align-items: center;
  border: 0.3vh solid rgb(26, 67, 199);
  width: 20%;
  height: fit-content;
  
 }
 
 .minusbutton {
  position: relative;
  top: 0;
  margin-left: 0;
  width: 2vw;
  height: 4vh;
  cursor: pointer;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.currentquantity{
  position: relative;
  top: 0;
  text-align: center;
 
  font-size: 2vh;
  color: rgb(230,230,230);
  font-family: zenkakulight;
  text-align: center;
  padding: 1vh 1% 1vh 1%;
  margin: auto;
  transform: translateX(70%) translateY(-5%);
}



.plusbutton {
  position: relative;
  top: 0;
  margin-left: auto;
  width: 2vw;
  height: 4vh;
  cursor: pointer;
  padding-top: 1vh;
  padding-bottom: 1vh;
  filter: invert(100%);
}


.addtocart{
  position: absolute;
  top: 80%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3vh solid rgb(26, 67, 199);
  width: 25%;
  height: 5.5vh;
  cursor: pointer;
}

.buynow{
  position: absolute;
  top: 80%;
  left: 65.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  rgb(23, 59, 175);
  width: 25%;
  height: 5.5vh;
  cursor: pointer;
}

.addtocart h3, .buynow h3{
  position: relative;
  top: 0;
  font-size: 1.8vh;
  color: rgb(230,230,230);
  font-family: zenkakulight;
  font-weight: 400;
  text-transform: uppercase;
  transform: translateY(-8%);
  margin: auto;
}




/* ------------------------------ Previous Room Button -------------------------------*/
.prevroomcontainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 27%;
  top: 35%;
  border: none;
  background: none;
  z-index: 2;
  overflow: hidden; 
  cursor: pointer;
}

.prevroomcontainer .arrowleft{
  position: relative;
  margin: auto;
  border: 0.2vh solid rgb(0, 0, 0);
  filter: invert(100%);
  padding: 0.5vh;
  width: 4vh;
  height: 4vh;
  
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  z-index: 1;
  background: none;
  
}
.prevroomcontainer h5{
  content: attr("Enter Studio");

  position: relative;
  display: inline-block;
  font-size: 2.2vh;
  margin: auto;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-family: zenkaku;
  font-weight: 400;
  letter-spacing: 0.03em;
  transform: translateY(-0.1vh);
  opacity: 0;
}


.prevroomcontainer:hover{
 
  
  border: 0.2vh solid rgb(255, 255, 255);
  animation: reveal 0.22s cubic-bezier(0, 0.8, 0.5, 1) forwards;
}
.prevroomcontainer:hover .arrowleft{
  border: none;
}

.prevroomcontainer:hover h5{
  content: attr("Enter Studio");
  opacity: 0;
  animation: revealtext 0.22s steps(30, end) forwards;
  
}

@keyframes revealtext {
  from{ width: 0vw;
     opacity: 0;

    }
  to { width: 7vw; opacity: 1;}
}

@keyframes reveal{
  from {
    width: 4vh;
    padding-right: 0vw;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
  }
 
  to {
    width: max-content;
    padding-right: 0.6vw;
    border-top-left-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
  }
}


@media (min-aspect-ratio: 16/9.001){
  #backgroundimage{
    background-image: url("./img/Room_Images/Lounge/169.webp");
  }
}

@media (max-aspect-ratio: 16/9.001){
  #backgroundimage{
    background-image: url("./img/Room_Images/Lounge/1610.webp");
  }
  #ripple1{ 
    /*Kansas*/
    left: 52.5vw;
    top: 58vh;
  }

  #ripple2{
    /*Fuente*/
    left: 56vw;
    top: 72vh;
  }
  #ripple3{
    /*Service Page*/
    left: 68vw;
    top: 96vh;
  }
 
  #ripple4{
    /*Laguna*/
    left: 65vw;
    top: 42vh;
  }
  #ripple5{
    /*Shirley*/
    left: 75vw;
    top: 43vh;
  }
  #ripple6{
    /*Buds*/
    left: 57.3vw;
    top: 73.7vh;
  }

  #ripple7{
    /*Bottle*/
    left: 66.2vw;
    top: 71.2vh;
  }
  #ripple8{
    /*Mug*/
    left: 69.5vw;
    top: 74vh;
  }
  #ripple9{
    /*Blanket*/
    left: 85.2vw;
    top: 71.7vh;
  }
  #ripple10{
    /*Suitcase*/
    left: 34vw;
    top: 71.5vh;
  }
  #ripple11{
    /*Beach Towel*/
    left: 26vw;
    top: 61.2vh;
  }
  #ripple12{
    /*Yoga Mat*/
    left: 35vw;
    top: 94.2vh;
  }
  #ripple13{
    /*T-Shirt*/
    left: 1.1vw;
    top: 26.2vh;
  }
  #ripple14{
    /*About Us Page*/
    left: 18vw;
    top: 60vh;
  }
   
}

@media (max-aspect-ratio: 4/3.001){
  #backgroundimage{
    background-image: url("./img/Room_Images/Lounge/43.webp");
  }
  nav{
    display: none;
  }
  .hamburgercontainer{
    display: block;
  }
  
}

@media (max-aspect-ratio: 1/1.001){
  #backgroundimage{
    background-image: url("./img/Room_Images/Lounge/11.webp");
    background-position: bottom;
  }
  .productpagecontainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), (-50%));
    display: inline-block;
    text-align: center;
  }
  .hamburger{
    width: 7vw;
  }
  #productimage{
    height: 50vh;
    width: auto;
    max-width: 85vw;
    display: none;
  }

  .productname{
    left: 6.5%;
    font-size: 3vh;
    font-size: 3.5vh;
  }
  .textboxcontainer{
    top: 100%;
    left: 0;
    height: 0px;
    width: 0px;
  }
  #close{
    width: 4.75vw;
  }
  .productprice{
    top: 12.5%;
    left: 6.5%;
    font-size: 2.5vh;
  }
  .productdetails{
    top: 20%;
    left: 6.5%;
    font-size: 1.9vh;
  }
  .shippingcontainer{
    top: 40%;
    left: 6.5%;
    height: 2vh;
  }
  .shippingcontainer h3{
    font-size: 1.8vh;
  }
  #expand2{
    top: 44%;
    left: 6.5%;
   }

   #expand3{
    top: 48%;
    left: 6.5%;
   }
   .productquantitycontainer{
    top: 55%;
    left: 6.5%;
    border: 0.3vh solid rgb(26, 67, 199);
    width: 34%;
   }
   .minusbutton {
    width: 5vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 5%;
  }
  .currentquantity{
    position: relative;
    top: 0;
    font-size: 1.8vh;
    padding: 1vh 1% 1vh 1%;
    margin: auto;
    transform: translateX(90%) translateY(-8%);
  }
  .plusbutton {
    width: 5vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-right: 5%;
    filter: invert(100%);
  }
  .addtocart{
    top: 55%;
    left: 47%;
    border: 0.3vh solid rgb(26, 67, 199);
    width: 45%;
    height: 5.5vh;
  }
  
  .buynow{
    top: 65%;
    left: 6.5%;
    background:  rgb(23, 59, 175);
    width: 85%;
    height: 5.5vh;
    cursor: pointer;
  }

  #ripple1{ 
    /*Kansas*/
    top: 63vh;
    left: 7vw;
  }

  #ripple2{
    /*Fuente*/
    left: 27.2vw;
    top: 71.3vh;
  }
  #ripple3{
    /*Service Page*/
    left: 80vw;
    top: 94vh;
  } 
  #ripple4{
    /*Laguna*/
    left: 33vw;
    top: 50vh;
  }
  #ripple5{
    /*Shirley*/
    left: 58vw;
    top: 50vh;
  }
  #ripple6{
    /*Buds*/
    left: 35.2vw;
    top: 72.7vh;
  }

  #ripple7{
    /*Bottle*/
    left: 57.2vw;
    top: 70.7vh;
  }
  #ripple8{
    /*Mug*/
    left: 69vw;
    top: 71.7vh;
  }
  #ripple9{
    /*Blanket*/
    top: 75vh;
    left: 95vw;
  }
  #ripple10{
    /*Suitcase*/
    top: -10vh;
    left: -10vw;
  }
  #ripple11{
    /*Beach Towel*/
    top: -10vh;
    left: -10vw;
  }
  #ripple12{
    /*Yoga Mat*/
    left: 30vw;
    top: 96.6vh;
  }
  #ripple13{
    /*T-Shirt*/
    top: -10vh;
    left: -10vw;
  }
  #ripple14{
    /*About Us Page*/
    left: 14vw;
    top: 34.2vh;
  }
  .prevroomcontainer{
    left: 10%;
    top: 90%;
  }

  @keyframes revealtext {
    from{ width: 0vw;
       opacity: 0;
  
      }
    to { width: 24vw; opacity: 1;}
  }
}

@media (max-aspect-ratio: 3/4.001){
  #backgroundimage{
    background-image: url("./img/Room_Images/Lounge/34.webp");
    background-position: bottom;
  }
  .productpagecontainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), (-50%));
    display: inline-block;
    text-align: center;
  }
  .hamburger{
    width: 7vw;
  }
  #productimage{
    height: 55vh;
    width: auto;
    max-width: 90vw;
    display: none;
  }

  .productname{
    left: 6.5%;
    font-size: 3vh;
    font-size: 3.5vh;
  }
  .textboxcontainer{
    top: 100%;
    left: 0;
    height: 0px;
    width: 0px;
  }
  #close{
    width: 4.75vw;
  }
  .productprice{
    top: 14%;
    left: 6.5%;
    font-size: 2.5vh;
  }
  .productdetails{
    top: 22.5%;
    left: 6.5%;
    font-size: 1.8vh;
  }
  .shippingcontainer{
    top: 44%;
    left: 6.5%;
    height: 2.2vh;
  }
  .shippingcontainer h3{
    font-size: 2vh;
  }
  #expand2{
    top: 48%;
    left: 6.5%;
   }

   #expand3{
    top: 52%;
    left: 6.5%;
   }
   .productquantitycontainer{
    top: 62%;
    left: 6.5%;
    border: 0.3vh solid rgb(26, 67, 199);
    width: 34%;
   }
   .minusbutton {
    width: 5vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 5%;
  }
  .currentquantity{
    position: relative;
    top: 0;
    font-size: 1.8vh;
    padding: 1vh 1% 1vh 1%;
    margin: auto;
    transform: translateX(90%) translateY(-8%);
  }
  .plusbutton {
    width: 5vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-right: 5%;
    filter: invert(100%);
  }
  .addtocart{
    top: 62%;
    left: 47%;
    border: 0.3vh solid rgb(26, 67, 199);
    width: 45%;
    height: 5.5vh;
  }
  
  .buynow{
    top: 75%;
    left: 6.5%;
    background:  rgb(23, 59, 175);
    width: 85%;
    height: 5.5vh;
    cursor: pointer;
  }

  #ripple1{ 
    /*Kansas*/
    top: 63vh;
    left: 7vw;
  }

  #ripple2{
    /*Fuente*/
    left: 27.2vw;
    top: 71.3vh;
  }
  #ripple3{
    /*Service Page*/
    left: 80vw;
    top: 94vh;
  } 
  #ripple4{
    /*Laguna*/
    left: 33vw;
    top: 50vh;
  }
  #ripple5{
    /*Shirley*/
    left: 58vw;
    top: 50vh;
  }
  #ripple6{
    /*Buds*/
    left: 35.2vw;
    top: 72.7vh;
  }

  #ripple7{
    /*Bottle*/
    left: 57.2vw;
    top: 70.7vh;
  }
  #ripple8{
    /*Mug*/
    left: 69vw;
    top: 71.7vh;
  }
  #ripple9{
    /*Blanket*/
    top: 75vh;
    left: 95vw;
  }
  #ripple10{
    /*Suitcase*/
    top: -10vh;
    left: -10vw;
  }
  #ripple11{
    /*Beach Towel*/
    top: -10vh;
    left: -10vw;
  }
  #ripple12{
    /*Yoga Mat*/
    left: 30vw;
    top: 96.6vh;
  }
  #ripple13{
    /*T-Shirt*/
    top: -10vh;
    left: -10vw;
  }
  #ripple14{
    /*About Us Page*/
    left: 14vw;
    top: 34.2vh;
  }
  .prevroomcontainer{
    left: 10%;
    top: 82%;
  }

  @keyframes revealtext {
    from{ width: 0vw;
       opacity: 0;
  
      }
    to { width: 24vw; opacity: 1;}
  }
}

@media (max-aspect-ratio: 10/16.001){ 
  /*Mobile Version (Inherits ipad version)*/
  #backgroundimage{
    background-image: url("./img/Room_Images/Lounge/34.webp");
    background-position: bottom;
  }
  
  .productname{
    font-size: 3vh;
  }

  #close{
    width: 6vw;
  }
  .productprice{
    font-size: 2.5vh;
  }

  .productdetails{
    font-size: 1.7vh;
  }
  .shippingcontainer{
    top: 48%;
  }

  .shippingcontainer img{
    font-size: 1.6vh;
  }
  #expand2{
    top: 53%;
   }

   #expand3{
    top: 58%;
   }
   .productquantitycontainer{
    top: 70%;
   }
   .minusbutton {
    width: 5vw;
    height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 5%;
  }
  .addtocart{
    top: 70%;
  }
  
  .buynow{
    top: 83%;
  }

  #ripple1{ 
    /*Kansas*/
    top: -10vh;
    left: -10vw;
  }

  #ripple2{
    /*Fuente*/
    left: 16.2vw;
    top: 71.3vh;
  }
  #ripple3{
    /*Service Page*/
    left: 85vw;
    top: 92vh;
  } 
  #ripple4{
    /*Laguna*/
    left: 24vw;
    top: 50vh;
  }
  #ripple5{
    /*Shirley*/
    left: 62vw;
    top: 50vh;
  }
  #ripple6{
    /*Buds*/
    left: 31.2vw;
    top: 72.7vh;
  }

  #ripple7{
    /*Bottle*/
    left: 61.2vw;
    top: 70.7vh;
  }
  #ripple8{
    /*Mug*/
    left: 77.2vw;
    top: 71.7vh;
  }
  #ripple9{
    /*Blanket*/
    top: -10vh;
    left: -10vw;
  }
  #ripple10{
    /*Suitcase*/
    top: -10vh;
    left: -10vw;
  }
  #ripple11{
    /*Beach Towel*/
    top: -10vh;
    left: -10vw;
  }
  #ripple12{
    /*Yoga Mat*/
    left: 30vw;
    top: 96.2vh;
  }
  #ripple13{
    /*T-Shirt*/
    top: -10vh;
    left: -10vw;
  }
  #ripple14{
    /*About Us Page*/
    left: 3vw;
    top: 34.2vh;
  }
  .prevroomcontainer{
    left: 10%;
    top: 82%;
  }
  @keyframes revealtext {
    from{ width: 0vw;
       opacity: 0;
  
      }
    to { width: 31vw; opacity: 1;}
  }
}
